name: mosquito_alert_app
description: A new Flutter project.
version: 4.2.0+2912
publish_to: none


environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.1.0
  flutter_localizations:
    sdk: flutter
  google_maps_flutter: ^2.12.3
  uuid: ^4.5.1
  shared_preferences: ^2.5.3
  geolocator: ^11.1.0
  geocoding: ^4.0.0
  dio: ^5.8.0+1
  markdown: ^7.3.0
  firebase_messaging: ^15.2.4
  firebase_core: ^3.13.0
  auto_size_text: ^3.0.0
  device_info_plus: ^12.3.0
  package_info_plus: ^9.0.0
  intro_slider: ^3.0.10
  permission_handler: ^12.0.1
  language_picker: ^0.4.5
  overlay_support: ^2.1.0

  flutter_html: ^3.0.0
  webview_flutter: ^4.11.0
  workmanager:
    # The reason to have a custom ref is because the latest published version
    # was not working for iOS, and a custom unreleased commit was solving it.
    # See commit: b783000
    # NOTE: Also https://github.com/fluttercommunity/flutter_workmanager/issues/588
    git:
        url: https://github.com/fluttercommunity/flutter_workmanager.git
        path: workmanager
        ref: 4ce0651
  battery_plus: ^6.2.2
  badges: ^3.1.2
  cached_network_image: ^3.3.1
  camera: ^0.11.2
  flutter_sliding_up_panel: ^2.1.1
  image_picker: ^1.2.0
  photo_manager: ^3.5.1
  textfield_tags: ^3.0.1
  in_app_review: ^2.0.9
  firebase_analytics: ^11.4.6
  mosquito_alert:
    git:
      url: https://github.com/Mosquito-Alert/mosquito-alert-dart-sdk.git
      ref: 0.1.28
  flutter_secure_storage: ^9.2.4
  infinite_scroll_pagination: ^5.1.0
  provider: ^6.1.5
  built_collection: ^5.1.1
  app_set_id: ^1.3.0
  envied: ^1.2.1
  flutter_image_compress: ^2.4.0
  timeago: ^3.7.1
  intl: ^0.20.2
  html: ^0.15.6
  country_codes: ^3.3.0

dependency_overrides:
  # Temporal for flutter_launcher_icons
  # See: https://github.com/fluttercommunity/flutter_launcher_icons/issues/593
  archive: ^3.6.1

dev_dependencies:
  flutter_launcher_icons: ^0.14.4
  flutter_test:
    sdk: flutter
  test: ^1.26.3
  integration_test:
    sdk: flutter
  flutter_native_splash: ^2.4.4
  envied_generator: ^1.1.1
  build_runner: ^2.4.15
  dependency_validator: ^5.0.3

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/img/mosquito_alert_logo_transparent.png"
  adaptive_icon_foreground: "assets/img/mosquito_alert_logo_transparent.png"
  adaptive_icon_background: "#ffffff"
  adaptive_icon_foreground_inset: 25
  adaptive_icon_monochrome: "assets/img/mosquito_alert_logo_monochrome.png"
  remove_alpha_ios: true
  background_color_ios: "#ffffff"

flutter_native_splash:
  android: true
  ios: true
  color: "#ffffff"
  image: assets/img/mosquito_alert_splash.png
  # Branding aspect ratio must be: 5:2
  branding: assets/img/mosquito_alert_letters_aspectratio_5_2.png
  branding_mode: bottom
  branding_bottom_padding: 24
  fullscreen: false
  android_12:
    image: assets/img/mosquito_alert_splash.png
    color: "#ffffff"
    icon_background_color: "#ffffff"
    branding: assets/img/mosquito_alert_letters_aspectratio_5_2.png

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/img/
    - assets/img/location/
    - assets/img/sendmodule/
    - assets/img/gallery/
    - assets/img/bottoms/
    - assets/language/
    - assets/html/
    - assets/config/

  fonts:
    - family: Rubik
      fonts:
        - asset: assets/fonts/Rubik-Regular.ttf
        - asset: assets/fonts/Rubik-Medium.ttf
          weight: 500
        - asset: assets/fonts/Rubik-Bold.ttf
          weight: 700
