name: mosquito_alert_app
description: A new Flutter project.
version: 2.0.7+1694

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.4
  flutter_svg: ^1.0.3
  webview_flutter: ^3.0.1
  google_maps_flutter: ^2.1.3
  material_segmented_control: ^3.1.2
  path_provider: ^2.0.9
  path: ^1.8.0
  uuid: ^3.0.6
  shared_preferences: ^2.0.13
  http: ^0.13.4
  random_string: ^2.3.1
  geolocator: ^8.2.0
  dio: ^4.0.4
  image_picker: ^0.8.4+11
  firebase_auth: ^3.3.11
  firebase_messaging: ^11.2.11
  firebase_core: ^1.13.1
  #google_sign_in: ^5.2.4
  #flutter_facebook_login: ^3.0.0
  #flutter_twitter: ^1.1.3
  auto_size_text: ^3.0.0
  file_picker: ^4.5.1
  geocoder: ^0.2.1
  device_info: ^2.0.3
  package_info: ^2.0.2
  flutter_launcher_icons: ^0.9.2
  url_launcher: ^6.0.20
  photo_view: ^0.13.0
  percent_indicator: ^4.0.0
  flutter_widget_from_html_core: ^0.8.5+1
  geohash: ^0.2.1
  flutter_background_geolocation:
    git:
      url: https://github.com/transistorsoft/flutter_background_geolocation.git
  intro_slider: ^3.0.3
  flutter_material_pickers: ^3.1.2
  permission_handler: ^9.2.0
  language_picker: ^0.4.1
  connectivity: ^3.0.6
  #connectivity_widget: ^0.1.7
  overlay_support: ^1.2.1
  app_tracking_transparency: ^2.0.2+1

dev_dependencies:
  pedantic: ^1.11.1
  flutter_test:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
    

flutter_icons:
  image_path_android: "assets/img/ic_launcher.png"
  image_path_ios: "assets/img/ic_launcher.png"
  android: true
  ios: true


flutter:

  uses-material-design: true

  assets:
 
   - assets/
   - assets/img/
   - assets/img/maps/
   - assets/img/sendmodule/
   - assets/img/gallery/
   - assets/img/tutorial/
   - assets/img/bottoms/
   - assets/language/
   - assets/html/

  
  fonts:
    - family: Rubik
      fonts:
        - asset: assets/fonts/Rubik-Regular.ttf
        - asset: assets/fonts/Rubik-Medium.ttf
          weight: 500
        - asset: assets/fonts/Rubik-Bold.ttf
          weight: 700
 

