name: Static analysis + test
on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  static_analysis_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: kuhnroyal/flutter-fvm-config-action/setup@v3

    - name: Create .env file
      run: |
        echo "OLD_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD" > .env

    - name: Generate env.g.dart
      run: |
        dart run build_runner clean
        dart run build_runner build --delete-conflicting-outputs

    - name: Statically analyze the Dart code for any errors/warnings/info, treating all as errors
      run: flutter analyze

    - name: Unit Tests
      run: flutter test test/unit/

    - name: Widget Tests
      run: flutter test test/widget/

    - name: Run tests with coverage
      run: flutter test --coverage

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        file: coverage/lcov.info
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
